@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --e-global-color-astglobalcolor0: #6e7051;
  --e-global-color-astglobalcolor1: #f6aa28;
  --e-global-color-astglobalcolor2: #262b2c;
  --e-global-color-astglobalcolor3: #979a9b;
  --e-global-color-astglobalcolor4: #f1f1ef;
  --e-global-color-astglobalcolor5: #ffffff;
  --e-global-color-astglobalcolor6: #e4e6e7;
  --e-global-color-astglobalcolor7: #a0a5a7;
  --e-global-color-astglobalcolor8: #000000;

  --ast-global-color-0: #6e7051;
  --ast-global-color-1: #f6aa28;
  --ast-global-color-2: #262b2c;
  --ast-global-color-3: #979a9b;
  --ast-global-color-4: #f1f1ef;
  --ast-global-color-5: #ffffff;
  --ast-global-color-6: #e4e6e7;
  --ast-global-color-7: #a0a5a7;
  --ast-global-color-8: #000000;
}

body {
  list-style: none;
  margin: 0;
  padding: 0;
}

::selection {
  background: #6e7051;
  color: #fff;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

.resultProductContainer::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
}

.dark .resultProductContainer::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  background: rgb(208, 220, 251);
}
.resultProductContainer::-webkit-scrollbar-thumb {
  background: #6e7051;
  border-radius: 10px;
}

.dark .resultProductContainer::-webkit-scrollbar-thumb {
  background: rgb(114, 143, 234);
  border-radius: 10px;
}

@import
'react-international-phone/style.css'
;

.inputColor {
  color: #000 !important;
  width: 100% !important;
  background: transparent !important;
  border: none !important;
}

.dark .inputColor {
  color: #fff !important;
  width: 100% !important;
  background: transparent !important;
  border: none !important;
}